<!--
50pops.html
render basic view of 50pops data set in browser.
-->

<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Popolo App</title>
		{% load staticfiles %}
		<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"/>
	</head>

	<body>
		<ul id="nav">
			<li><a href="#">Contact</a></li>
			<li><a href="#">Going Glacial</a></li>
			<li><a href="#">About</a></li>
		</ul>
		<h1 id="header">50 most populous u.s. cities</h1>
		<table>
			<tr>
				<th id="city-column">City</th>
				<th>State</th>
				<th>Population</th>
			</tr>
			{% for item in all_entries %}
			<tr>
				<td>{{ item.city }}</td>
				<td>{{ item.state }}</td>
				<td>{{ item.pop }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>

</html>