<!--
home.html
render home page in browser
-->

<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Popolo App</title>
		{% load staticfiles %}
		<link href="{{ STATIC_URL }}homestyle.css" rel="stylesheet" type="text/css"/>
		<link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="{{ STATIC_URL }}jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{{ STATIC_URL }}stateNames.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js"></script>
		<script>
			$(function() {
				//pass in cities in popolo_popul table
				availableCities = [
			        "New York",
			        "Los Angeles",
			        "Chicago",
			        "Houston",
			        "Phoenix",
			        "Philadelphia",
			        "San Antonio",
			        "Dallas",
			        "San Diego",
			        "Boston"
      			];
      		$( "#cities" ).autocomplete({
      			source: availableCities
      		});
      		});
		</script>
	</head>

	<body>

		<img id="full-screen-background-image" src="{% static "rek.jpg" %}" alt="rekcityscape"/>

 		<ul id="nav">
 			<li><a href="#">States</a></li>
 			<li><a href="{% url 'popolo:random' %}">Random</a></li>
 			<li><a href="{% url 'popolo:results' %}">Results</a></li>
 			<li><a href="{% url 'popolo:bubbles' %}">Bubbles</a></li>
 			<li><a href="{% url 'popolo:about' %}">About</a></li>
 		</ul>

		<h1 id="header">popolo: know where you are</h1>
		<br>

		<center>
			<div class="ui-widget">
				<input id="cities" type="text" placeholder="search u.s. city pops">
			</div>
		</center>

	</body>

</html>