<!--
home.html
render home page in browser
-->

<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Popolo App</title>
		{% load staticfiles %}
		<link href="{{ STATIC_URL }}homestyle.css" rel="stylesheet" type="text/css"/>
		<link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="{{ STATIC_URL }}jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{{ STATIC_URL }}stateNames.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js"></script>
		
		<script>
			$(document).ready(function() {
				$("#cities").autocomplete({
					source: function(request, response) {
						// console.log("requested");
						var base = 'search/' + $("#cities").val();
						//var base = 'search/'' + $("#cities").val()';
						console.log(base);

							$.ajax({
					            dataType: "json",
					            type : 'Get',
					            url: base,
					            success: function(data) {
					            	// console.log(data);

					            	response(data.map(function(d) {
					            		return d.city;
					            	}));
					            //   $('input.suggest-user').removeClass('ui-autocomplete-loading');  // hide loading image

					            // response( $.map( data, function(item) {
					            //     // your operation on data
					            // }));
					          },
					          error: function(data) {
					          	console.log("ERROR");
					              // $('input.suggest-user').removeClass('ui-autocomplete-loading');  
					          }
					        });

						// response(["merp","bug"]);
					}
					// source: ['merp', 'bug']
					// source = function that is ajax call
				});
			});

		</script>

	</head>

	<body>

		<img id="full-screen-background-image" src="{% static "sf.jpg" %}" alt="citybythebay"/>

 		<ul id="nav">
 			<li><a href="#">States</a></li>
 			<li><a href="{% url 'popolo:random' %}">Random</a></li>
 			<li><a href="{% url 'popolo:results' %}">Results</a></li>
 			<li><a href="{% url 'popolo:bubbles' %}">Bubbles</a></li>
 			<li><a href="{% url 'popolo:about' %}">About</a></li>
 		</ul>

		<h1 id="header">popolo: know where you are</h1>
		<br>

		<center>

			<div class="ui-widget">
				<input id="cities" type="text" placeholder="search u.s. city pops">
				<center>
					<div id="results">
						<ul id="results_text">                                  
							<li></li>
							<li></li>
						</ul>
					</div>
				</center>
			</div>

		</center>

	</body>

</html>