<!--
home.html
render home page in browser
-->

<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Popolo App</title>
		{% load staticfiles %}
		<link href="{{ STATIC_URL }}homestyle.css" rel="stylesheet" type="text/css"/>
		<link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="{{ STATIC_URL }}jquery-ui.css" rel="stylesheet" type="text/css"/>
		<link href="{{ STATIC_URL }}ajax_search.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{{ STATIC_URL }}stateNames.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}ajax_search.js"></script>
		
		<script>
			//will communicate with server via a different URL
			$(function() {
				//pass in cities in popolo_popul table
				availableCities = {{ all_entries|safe }};
      		$( "#cities" ).autocomplete({
      			source: availableCities
      		});
      		function rebuildList(data) {
      			var $resultList = $("#resultsOfSearch");
      			$resultList.find("*").remove();
      			for (var city_dict in data) {
      				var li = document.createElement("<li>");
      				$(li).text(city_dict.name + " : " + city_dict.pop);
      				$resultList.append(li);
      			}
      		};
      		$.ajax({
				dataType: "json",
				//url: "{% url 'popolo:search' %}",
				dataType: $("#cities").text(),
				success: rebuildList,
			});
		</script>

	</head>

	<body>

		<img id="full-screen-background-image" src="{% static "sf.jpg" %}" alt="citybythebay"/>

 		<ul id="nav">
 			<li><a href="#">States</a></li>
 			<li><a href="{% url 'popolo:random' %}">Random</a></li>
 			<li><a href="{% url 'popolo:results' %}">Results</a></li>
 			<li><a href="{% url 'popolo:bubbles' %}">Bubbles</a></li>
 			<li><a href="{% url 'popolo:about' %}">About</a></li>
 		</ul>

		<h1 id="header">popolo: know where you are</h1>
		<br>

		<center>
			<div class="ui-widget">
				<input id="cities" type="text" placeholder="search u.s. city pops">
			</div>
		</center>

	</body>

</html>